<!-- Display Posts-->
<div class="row post" *ngFor="let post of posts">
  <div class="col-md-1">
    <app-vote-button [post]="post"></app-vote-button>
  </div>
    <div class="col-md-11">
      <span class="product-info">
        <span class="product-text"><a class="posturl" routerLink="">{{post.productName}}</a></span>
        <span> . Posted by <a class="username" routerLink="/user-profile/{{post.userName}}">{{post.userName}}</a></span>
        <!-- <span> . {{post.duration}}</span> -->
      </span>
      
      <hr />
      <div class="post-title">
        <a class="postname" routerLink="/view-post/{{post.id}}">{{post.postName}}</a>
      </div>
      <div>
        <p class="post-text" [innerHtml]="post.description"></p>
      </div>
      <hr />
      <span>
        <a class="btnCommments btn custom-btn" role="button" >
          <fa-icon [icon]="faComments"></fa-icon>
          Comments({{post.commentCount}})
        </a>
        CreatedAt: {{post.createdDate|date:'shortDate'}}
        
      </span>
    </div>
  </div>
  