<div class="sidebar" style="background-image: ;">
    <div>
    <img style="width: 100%;" src="assets/banner.jpg">
    </div>
    <div style="text-align: center; font-size: 1em">Find Solutions, Ask Queries, Share Ideas</div>

    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Add Product</button>
    </div>

    <div >
        <div class="container my-2">
            <div class="row">
                <div class="col-sm ">
                    <img
                        style= "width: 30px;" src="https://img.icons8.com/external-phatplus-lineal-color-phatplus/64/000000/external-users-essential-phatplus-lineal-color-phatplus.png" />
                        <div style="font-size: smaller;"> Users: </div>
                        <div style="text-align: center;font-size: smaller;">
                            {{resp.userCount}}
                        </div>
                        
                </div>
                <div class="col-sm">
                    <img
                    style= "width: 30px;" src="https://img.icons8.com/external-xnimrodx-blue-xnimrodx/64/000000/external-question-design-thinking-xnimrodx-blue-xnimrodx.png" />
                    <div style="font-size: smaller;"> Ques: </div>
                    <div style="text-align: center;font-size: smaller;">
                    {{resp.queriesCount}}
                </div>
                </div>
                <div class="col-sm">
                    <img
                    style= "width: 30px;" src="https://img.icons8.com/external-flat-icons-inmotus-design/67/000000/external-comments-telegram-flat-icons-inmotus-design.png" />
                    <div style="font-size: smaller;"> Ans: </div>
                    <div style="text-align: center;font-size: smaller;">
                    {{resp.answerCount}}
                </div>
                </div>
                <div class="col-sm">
                    <img
                    style= "width: 30px;" src="https://img.icons8.com/external-soft-fill-juicy-fish/60/000000/external-posts-microservices-soft-fill-soft-fill-juicy-fish.png" />
                    
                    <div style="font-size: smaller;"> Ans:&check;  </div>
                    <div style="text-align: center; font-size: smaller;">
                    {{resp.verifiedAnswersCount}}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>